body {
  height: 100vh;
  margin: 0;
  background-color: #f3f3f3;
}

/* Navbar */

header nav {
  background-color: #fcfcfc;
}
header nav ul li:not(:last-child) {
  margin-left: 1rem;
}
header nav .user-icon {
  background: #EEE;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* End Navbar */

/* Login */

.login, .register {
  width: 100%;
  padding: 3rem;
  display:flex;
  min-height: 100vh;
  align-items: center;
  justify-content:center;
  background: linear-gradient(120deg, #2980b9, #8e44ad);
}

/* End Login */

/* Global */

.container {
  width: 90%;
  margin: auto;
}

/* End Global */

/* Bootstrap Edit */
form .form-container {
  max-width: 550px;
  width: 550px;
  margin: auto;
  background-color: #FEFEFE;
  padding: 2rem 1.5rem;
  border-radius: 5px;
}
form .input-container .label-container label,
label {
  color: #555;
  font-weight: bold;
}
form .form-container .title {
  margin: 0;
  color: #444;
  font-size: 2.8rem;
  margin-bottom: 1rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgb(121, 121, 121);
  text-align: center !important;
}
form .input-container {
  display:flex;
  flex-direction: column-reverse;
  position: relative;
}
form .input-container .label-container {
  width: 100%;
  height: 2rem;
}
form .input-container .label-container label {
  position: absolute;
  bottom: 0.4rem;
  left: 0.8rem;
  user-select: none;
  transition: all 0.3s ease-in-out;
  -webkit-user-select: none;
}
form .input-container input {
  padding: 0.4rem;
  background-color: transparent;
  border: 1px solid #EEE;
  box-shadow: inset 0 0 4px #00000085;
  border-radius: 5px;
}
form .input-container {
  margin: 1rem 0;
}
form .input-container input:focus,
form .input-container input.active {
  background-color: transparent;
  border-color: #a5a5a5;
  box-shadow: 0 0 0 0.1rem rgb(0 0 0 / 47%), inset 0 0 4px #00000085;
}
form .input-container input.active + .label-container label,
form .input-container input:focus + .label-container label {
  bottom: 2.8rem;
}
button:focus,
input:focus {
  outline: none;
}
.modal-header .btn-close {
  margin: -.5rem auto -.5rem -.5rem !important;
}

/* End Edit Bootstrap */

/* Questions */

.radio {
  display: flex;
  flex-direction: row !important;
  justify-content: space-evenly;
}
.question {
  border: none;
  width: 2.5rem;
  display: flex;
  height: 2.5rem;
  font-size: 1.3rem;
  align-items: center;
  text-decoration: none;
  justify-content: center;
}
.question:hover {
  color: #fff;
}
.question.null {
  color: #0dcaf0;
}
#question-content {
  cursor: pointer;
}

/* End Questions */

/* View Exams */

.result .list-group {
  padding: 20px;
}

.result .list-group .list-grou-item {
  display: grid;
  overflow: hidden;
  column-gap: 40px;
  margin-top: 10px;
  padding: 10px 14px;
  align-items: center;
}
.result .list-group .list-grou-item > div {
  width: 100%;
}
.questions-container {
  position: relative;
  overflow: hidden;
  padding-top: 36px !important;
}
.questions-container > .grade {
  left: 50%;
  transform: translateX(-50%);
  padding-left: 24px;
  padding-right: 24px;
}
.grade {
  top: -7px;
  left: 20px;
  font-weight: bold;
  position: absolute;
  border-radius: 10px;
  letter-spacing: 2px;
  padding: 12px 12px 6px;
  background: #39bf68!important;
}

/* End View Exams */

/* Item Manage */

.item-manage .image-container {
  position: relative;
}
.item-manage .image-edit-btn {
  top: 1.2rem;
  right: 1.5rem;
  position: absolute;
}
.item-manage .order-container {
  display: flex;
  align-items: center;
  position: relative;
}
.item-manage .order-container .item {
  padding: 8px 12px;
  border-radius: 50%;
  width: fit-content;
}
.item-manage .order-container .item .tooltip {
  left: 50%;
  top: -50px;
  border-radius: 4px;
  position: absolute;
  transform: translateX(-50%);
}

/* End Item Manage */

/* Courses Show */

.course .card-body {
  padding-right: 2rem;
  padding-left: 2rem;
}
.course .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.course .header i {
  cursor: pointer;
  transition: color 0.2s;
}
.course .header i:hover {
  color: rgba(0,0,0,0.75)!important;
}
.course .note {
  width: 100%;
  padding: 8px;
  opacity: 0.8;
  padding-right: 2rem;
  background-color: #f3f3f3;
}
.course::before {
  top: 0.2rem;
  right: 5rem;
  color: #198754;
  content: "\f058";
  font-size: 1.5rem;
  position: absolute;
  font-family: "fontawesome";
}
.course.close::before {
  content: "\f023";
  color: rgba(0,0,0,.5);
}
.course.current::before {
  top: 0.5rem;
  width: 25px;
  height: 25px;
  display: flex;
  font-size: 1rem;
  content: "\f061";
  color: #0d6efd;
  border: 2px solid;
  border-radius: 50%;
  align-items: center;
  font-weight: lighter;
  justify-content: center;
}

.course .course-content {
  margin: 2rem 0;
}
.course hr {
  margin-bottom: 0.8rem;
}

/* End Courses Show */

/* Show Items */

.card.item.close {
  position: relative;
}
.card.item.close::before {
  top: 2px;
  left: 20px;
  content: '\f023';
  font-size: 1.5rem;
  position: absolute;
  font-family: "fontawesome";
}
.card.item.close .card-img-top {
  filter: grayscale(1) blur(3px);
}

/* End Show Items */

/* Start Group Manage */

.group-container {
  border-radius: 15px;
  position: relative;
  box-shadow: 4px 4px 10px 1px #4f4f4f;
}
.group-container::before, .group-container::after {
  content: "";
  position: absolute;
  border-radius: 15px;
}
.group-container::before {
  top: -4px;
  left: -4px;
  z-index: 1;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  background: linear-gradient(140deg, #0dc1f4, #125cb1 90%);
}

.group-container::after {
  z-index: 0;
  top: -10px;
  left: -10px;
  background: white;
  width: calc(100% + 20px);/* this plus value is duble of the weight of the border */
  height: calc(100% + 20px);/* like the firest one */
}
.group-container .icon {
  z-index: 72;
  top: -40px;
  width: 50px;
  height: 50px;
  padding: 3px;
  right: 15px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 3px 5px #858585;
  background: linear-gradient(90deg, #0dc1f4, #125cb1);
}

.group-container .card {
  z-index: 2;
  padding: 1.8rem 0.6rem 0.6rem;
  overflow: hidden;
  border-radius: 15px;
}

.group-container .group-title {
  --border-radius: 40%;
  position: absolute;
  margin: 0;
  left: 50%;
  top: -25px;
  z-index: 10;
  padding: 12px;
  color: white;
  min-width: 50%;
  font-weight: bold;
  text-align: center;
  transform: translateX(-50%);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  background: linear-gradient(120deg, #0dc1f4, #125cb1 90%);
}

.group-container .group-title::before, .group-container .group-title::after {
  top: 0;
  content: "";
  left: -8px;
  width: 8px;
  height: 15px;
  position: absolute;
  border-top-left-radius: 100%;
  background: linear-gradient(-60deg, #0dc1f4 30%, #0f4f99)
}
.group-container .group-title::after {
  right: -8px;
  border-top-left-radius: 0;
  border-top-right-radius: 100%;
  background: linear-gradient(-54deg, #0dc1f4, #0f4f99 70%)
}
.group-container .card .card-body, .group-container .card .list-group li {
  padding: 0.5rem;
}
.icon-container .icon {
  background: #fff;
  padding: 12px;
  margin-left: 12px;
  border-radius: 12px;
  border: 1px solid #999;
}
.list {
  padding: 22px;
  display: flex;
  background: #fff;
  border-radius: 12px;
  flex-direction: column;
}
.list .sub-title {
  font-size: 18px;
  color: #212529;
  font-weight: bold;
  text-transform: capitalize;
  border-bottom: 1px solid #b0b4b8;
  padding-bottom: 12px;
}
.list .table-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.list .table-row:nth-of-type(1) {
  padding-bottom: 14px;
}
.list .table-row:nth-of-type(2) {
  padding-top: 16px;
}
.list .cell {
  display: block;
  padding: 8px 16px;
  border-bottom-width: 1px;
}
.list .cell:first-of-type {/* "id column" selector */
  width: 60px;
  text-align: center;
  border-left: 1px solid #686c70;
}
.list .cell:not(:first-of-type) {/* "rest of columns" selector */
  width: 50%;
  padding-right: 22px;
}

.list.path_details {
  align-items: center;
}
.path_details .level-point {
  position: relative;
  width: 100%;
}
.path_details .level-point {
  --size: 50px;
}
.path_details .level-point:not(:last-of-type) {
  margin-bottom: 40px;
}
.path_details .level-point .title {
  font-weight: bold;
  width: calc(100% - (var(--size) + 20px));
}
.path_details .level-point .circle {
  position: absolute;
  left: 0;
  color: #fff;
  text-decoration: none;
}
.path_details .level-point .circle span {
  background: #487fc3;
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  box-shadow: 0 0 4px rgb(0 0 0 / 40%);
}

/* End Group Manage */

/* Start Group Member */
#add-member {
  transition: 0.5s;
}
#add-member.unactive {
  opacity: 0;
  user-select: none;
  pointer-events: none;
}
.users-list {
  transition: 0.5s;
  height: 40px;
}
.users-list.unactive {
  height: 0px;
}
/* End Group Member */

/* Custom Library */

.under-line-title {
  position: relative;
}
.under-line-title::before {
  left: 10%;
  bottom: 0;
  width: 40%;
  height: 7px;
  content: "";
  opacity: 0.8;
  position: absolute;
  border-radius: 10px;
  background-color: #0d6efd;
  border-bottom: 3px solid #084cb1;
}
.grid-2 {
  display: grid;
  column-gap: 3rem;
  grid-template-columns: 1fr 1fr;
}
.link {
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}